<%= form_for(@article,html: { id: "articles_form" }) do |f| %>
	<% if @article.errors.count != 0 -%>
		<div class='alert alert-warning alert-dismissible'>
		<% @article.errors.full_messages.each do |message| %>
				* <%= message %> </br>
			<% end -%>
		</div>
	<% end -%>

	<div class="field">
		<%= f.text_field :title, placeholder: "Título", class:'form-control2' %>
	</div>

	<div class="field">
		<%= f.hidden_field :body, id:'body-textarea' %>
		<%= f.hidden_field :markup_body, id:'markup-body-textarea' %>
		<div id="epiceditor" style="height:350px;weigth:10% !important;"></div>
	</div>

	<div class="field">
		Publicar?
		<%= f.check_box :published %>
	</div>

	<div class="field">
		<label>Categorías</label>
		<% @categories.each do |category| %>
			<div class="field">
				<%= check_box_tag "categories[]", category.id %> <%= category.name %>
			</div>
		<% end %>
	</div>
	<div>
		<%= f.submit "Enviar", class:"btn btn-info" %>
	</div>
<% end %>

<script>
	var editor = new EpicEditor({
		file:{
			textarea: "markup-body-textarea",
			name:"text_article"
		}
	});
	editor.load();
	$("#articles_form").on("submit",function(){
		$("#body-textarea").val( editor.exportFile("text_article","html") );
		$("#markup-body-textarea").val( editor.exportFile("text_article") );
	});
</script>